<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %}</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Popper JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">NHIET KE TAI CHINH</a>

    <!-- Links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'posts' %}">Blog</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'course' %}">Courses</a>
        </li>
        <!-- Dropdown -->
        {% comment %}
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-uppercase" href="#" id="navbardrop" data-toggle="dropdown">
                VIP Member
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">Forex</a>
                <a class="dropdown-item" href="#">Tradecoin</a>
                <a class="dropdown-item" href="#">Chiêm Tinh</a>
            </div>
        </li>
        {% endcomment %}
        {% if user.is_authenticated %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'profile' %}">Profile</a>
        </li>
        {% endif %}
        <li class="nav-item">
            <a class="nav-link" href="">Contact</a>
        </li>
    </ul>
</nav>

<div class="container">
    <div class="row">
        <div class="col-md-8">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="{% url 'search' %}" method="get">
                        <p><input type="text" name="keyword" placeholder="search..." class="form-control"></p>
                        <p><input type="submit" class="btn btn-success" value="search"></p>
                    </form>
                </div>
            </div>
            <hr>
            {% if not user.is_authenticated %}
            <div class="card">
                <div class="card-header bg-dark text-light">Member</div>
                <div class="card-body">
                    <form action="{% url 'sidebar-login' %}" method="post">
                        {% csrf_token %}
                        <p>Username: <input type="text" name="username" class="form-control"
                                            placeholder="Username or email..."></p>
                        <p>Password: <input type="password" name="password" class="form-control"
                                            placeholder="Password..."></p>
                        <p><input type="submit" class="btn btn-success" value="Login"></p>
                        <p><a href="{% url 'register' %}">Join Us</a></p>
                        <p><a href="">Forgot password?</a></p>
                    </form>
                </div>
            </div>
            {% else %}
            <div class="card">
                <div class="card-header bg-dark text-light">Account Information</div>
                <div class="card-body">
                    <p>Username: {{ user.username }}</p>
                    <p>Email: {{ user.email }}</p>
                    <p>Last Login: {{ user.last_login }}</p>
                    <p><a href="{% url 'password-change' %}">Change Password?</a></p>
                    <p><a href="{% url 'logout' %}" class="btn btn-danger">Logout</a></p>
                </div>
            </div>
            {% endif %}
            {% if categories %}
            <div class="card">
                <div class="card-header bg-dark text-light">Catagories</div>
                <div class="card-body">
                    {% for category in categories %}
                    <p><a href="{% url 'post_category' category.slug %}" class="font-weight-bold text-capitalize">{{ category.name }}</a></p>
                    {% endfor %}
                </div>
            </div>
            {% endif %}
        </div>
    </div>

</div>

<div class="container-fluid py-3 bg-dark text-light text-center">
    <p>@minhthang88</p>
</div>
</body>
</html>